## T·∫£i th∆∞ vi·ªán c·∫ßn thi·∫øt.

In [1]:
%pip install matplotlib pandas numpy seaborn wordcloud

Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.10/site-packages (3.8.0)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (1.26.1)
Requirement already satisfied: seaborn in /home/codespace/.local/lib/python3.10/site-packages (0.13.0)
Collecting wordcloud
  Downloading wordcloud-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.3 kB)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading wordcloud-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (455 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 455.4/455.4 kB 10.7 MB/s eta 0:00:0000:01
Installing collected packages: wordcloud
Successfully installed wordcloud-1.9.2

[notice] A new release of pip is available: 23.3 -> 23.3.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Ph√¢n t√≠ch.

In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
raw_df = pd.read_csv('Data/hotwheels.csv')
len(raw_df)

92

In [55]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        92 non-null     int64
 1   text                           92 non-null     object
 2   post_text                      69 non-null     object
 3   shared_text                    24 non-null     object
 4   original_text                  0 non-null      float64
 5   time                           92 non-null     object
 6   timestamp                      92 non-null     int64
 7   image                          26 non-null     object
 8   image_lowquality               92 non-null     object
 9   images                         92 non-null     object
 10  images_description             92 non-null     object
 11  images_lowquality              92 non-null     object
 12  images_lowquality_description  92 non-null     object
 13  video                          46 non-null     object
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       46 non-null     float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                46 non-null     object
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          92 non-null     int64
 23  comments                       92 non-null     int64
 24  shares                         92 non-null     int64
 25  post_url                       92 non-null     object
 26  link                           35 non-null     object
 27  links                          92 non-null     object
 28  user_id                        92 non-null     int64
 29  username                       92 non-null     object
 30  user_url                       92 non-null     object
 31  is_live                        92 non-null     bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 0 non-null      float64
 34  shared_time                    0 non-null      float64
 35  shared_user_id                 0 non-null      float64
 36  shared_username                0 non-null      float64
 37  shared_post_url                0 non-null      float64
 38  available                      92 non-null     bool
 39  comments_full                  92 non-null     object
 40  reactors                       10 non-null     object
 41  w3_fb_url                      10 non-null     object
 42  reactions                      10 non-null     object
 43  reaction_count                 92 non-null     int64
 44  with                           21 non-null     object
 45  page_id                        92 non-null     int64
 46  sharers                        0 non-null      float64
 47  image_id                       4 non-null      float64
 48  image_ids                      92 non-null     object
 49  was_live                       92 non-null     bool
 50  fetched_time                   10 non-null     object
dtypes: bool(3), float64(16), int64(8), object(24)
memory usage: 34.9+ KB

In [56]:
first_row = raw_df.iloc[0]
reactions = dict(eval(first_row['reactions']))
reactions["shares"] = first_row['shares']
reactions["comments"] = first_row['comments']

In [57]:
reactions

{'like': 638,
 'love': 126,
 'haha': 2,
 'wow': 12,
 'care': 3,
 'shares': 46,
 'comments': 33}

In [58]:
hehe = max(raw_df['reaction_count'])
x = raw_df[raw_df['reaction_count'] == hehe]
x

,post_id,text,post_text,shared_text,original_text,time,timestamp,image,image_lowquality,images,...,w3_fb_url,reactions,reaction_count,with,page_id,sharers,image_id,image_ids,was_live,fetched_time
50,636367022015466,Phoenix's creative garage spirit shines! üèÅüî• Ch...,Phoenix's creative garage spirit shines! üèÅüî• Ch...,NaN,NaN,2023-09-23 23:30:25,1695511825,NaN,https://scontent-sin6-2.xx.fbcdn.net/v/t15.525...,[],...,NaN,NaN,9600,NaN,7645145806,NaN,NaN,[],False,NaN

In [62]:
y = raw_df[['post_id', 'reactions', 'reaction_count']]
y

,post_id,reactions,reaction_count
0,665056942479807,"{'like': 638, 'love': 126, 'haha': 2, 'wow': 1...",781
1,664492619202906,"{'like': 2566, 'love': 1330, 'haha': 97, 'wow'...",4485
2,664488382536663,"{'like': 209, 'love': 63, 'haha': 5, 'wow': 3}",280
3,867851008335692,"{'like': 1299, 'love': 329, 'haha': 13, 'wow':...",1684
4,663923199259848,"{'like': 402, 'love': 119, 'haha': 1, 'wow': 2...",526
...,...,...,...
87,611477427837759,NaN,910
88,610969027888599,NaN,560
89,920548882763795,NaN,426
90,604287051890130,NaN,1900
91,603922041926631,NaN,958

6